<!-- <mat-toolbar class="docs-navbar-header">
    <mat-toolbar-row>
      <div class="Main">
        <div class="sideNavIcon">
          <div>
            <mat-icon (click)="drawer.toggle()" style="padding-right: 10px;">menu</mat-icon>
          </div>
  
          <div>
            <img src="assets/image/googlekeepicon.png">
          </div>
          <div>Keep</div>
        </div>
  
        <div class="searchWhole">
          <div class="searchbar">
            <div class="searchIcon">
              <mat-icon matSuffix></mat-icon>
            </div>
            <div>
              <input class="input" matInput type="searchbar" placeholder="Search...">
            </div>
          </div>
  
          <a mat-icon-button [routerLink]="['dashboard/notes']" (click)="getAllListNotes()" routerLinkActive="activated"
            matTooltip="Refresh">
            <mat-icon>refresh</mat-icon>
          </a>-->
  
          <!-- List & Grid -->
          <!-- <button mat-icon-button fxHide.xs="true" fxShow.sm="false" fxShow.md="true" fxShow.lg="true">
            <mat-icon (click)="viewGrid()" *ngIf="!grid">view_stream</mat-icon>
            <mat-icon (click)="viewGrid()" *ngIf="grid">view_module</mat-icon>
          </button> -->
          <!-- Settings -->
          <!-- <button fxHide.xs="true" mat-icon-button [matMenuTriggerFor]="settings" matTooltip="Settings">
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #settings="matMenu">
            <button mat-menu-item>
              <span>Settings</span>
            </button>
            <button mat-menu-item>
              <span>Send feedback</span>
            </button>
            <button mat-menu-item>
              <span>Help</span>
            </button>
            <button mat-menu-item>
              <span>App downloads</span>
            </button>
            <button mat-menu-item>
              <span>Keyboad Shortcuts</span>
            </button>
          </mat-menu>-->
          <!-- notfications -->
          <!-- <button fxHide.xs="true" mat-icon-button [matMenuTriggerFor]="notifications" matTooltip="notifications">
            <mat-icon>notifications_on</mat-icon>
          </button>
          <mat-menu #notifications="matMenu">
          </mat-menu>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>Sign out
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar> -->  
