<mat-toolbar >
  <mat-toolbar-row>
    <div class="Main">
      <div class="sideNavIcon">
        <div>
          <mat-icon style="padding-right: 10px;">menu</mat-icon>
        </div>

        <div>
          <img src="assets/image/googlekeepicon.png">
        </div>
        <div><span style="color: rgb(255, 174, 0);">F</span>
          <span style="color: rgba(0, 0, 0, 0.342);">undoo</span>
          <span style="color: rgb(255, 174, 0);">N</span>
          <span style="color: rgba(0, 0, 0, 0.342);">otes</span></div>
      </div> &nbsp;&nbsp;

      <!-- Search bar -->
    <div class="searchWhole">
      <div class="searchbar">
        <div class="searchIcon">
          <button mat-icon-button class="searchButton">
            <mat-icon>search</mat-icon>
          </button>
          <input class="input" matInput type="searchbar" placeholder="Search...">
        </div>
      </div>
      <!-- refresh -->
        <a mat-icon-button [routerLink]="['dashboard']" (click)="refresh()" routerLinkActive="activated"
            matTooltip="Refresh">
            <mat-icon>refresh</mat-icon>
          </a>
      <!-- List & Grid -->
      <button mat-icon-button fxHide.xs="true" fxShow.sm="false" fxShow.md="true" fxShow.lg="true">
        <mat-icon >view_stream</mat-icon>
      </button>
      
      <!-- Settings -->
      <button fxHide.xs="true" mat-icon-button [matMenuTriggerFor]="settings" matTooltip="Settings">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settings="matMenu">
        <button mat-menu-item>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <span>Send feedback</span>
        </button>
        <button mat-menu-item>
          <span>Help</span>
        </button>
        <button mat-menu-item>
          <span>App downloads</span>
        </button>
        <button mat-menu-item>
          <span>Keyboad Shortcuts</span>
        </button>
      </mat-menu>
      <!-- menu-->
      <button mat-icon-button matTooltip="Apps" fxHide.lt-md="true">
        <mat-icon>apps</mat-icon>
    </button>

      <img src="{{profile}}" class="avatar" matTooltip="{{email}}" mat-button [matMenuTriggerFor]="menu">
       
      <mat-menu #menu="matMenu">
          <div fxLayout="column">
              <div fxLayout="row">
                  <div class ="image">
                      <img src="{{profile}}" class="avatar1" matTooltip="Change" mat-button
                          [matMenuTriggerFor]="menu" />
                  </div>
              </div>
              <form method="POST" enctype="multipart/form-data">
                  <input matTooltip="Upload Profile Photo" type="file" name="file"
                      (change)="onSubmit($event.target.files[0])" accept="file/*" value="Upload"
                      disabledplaceholder="upload">
              </form>

              <div><br>
                <mat-card-title class="text_color" >{{firstName}} {{lastName}}</mat-card-title>
                
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-card-subtitle class="text_email">{{email}}</mat-card-subtitle>
               </div>
          </div>
          <!-- <mat-divider></mat-divider> -->
          <br>
          <div>
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-raised-button routerLink='/register' class="button">Add Account</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-raised-button routerLink="/login" (click)="logout()" class="button">Sign out</button>
          </div>
      </mat-menu>
    </div> 
    </div> 
  </mat-toolbar-row>
</mat-toolbar>

