.main-div{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
.link{
    color: rgb(66, 94, 218);
    text-decoration:none 
  }
  #nextbutton{
    background-color:rgb(247, 184, 49);
	color: white;
  }
  .example-full-width{
    color: rgb(7, 7, 6);
  }
  .example-full-width{
    width: 100%;
}
.example-container {
  display: flex;
  align-items: center;
	flex-direction: column;
}
  
.example-container > * {
  width: 90%;
}