<div class=main-div>
  <mat-card style="width: 30em; height: 80vh; box-shadow: 1px 1px 7px 0px;">
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">      
      <div fxLayout="row" fxLayoutAlign="center" style="font-size:24px; margin-bottom: 80px;">
          <span style="color: rgb(255, 174, 0);">F</span>
          <span style="color: rgba(0, 0, 0, 0.342);">undoo</span>
          <span style="color: rgb(255, 174, 0);">N</span>
          <span style="color: rgba(0, 0, 0, 0.342);">otes</span>
      </div>

      <div align="center"><label style="font-size:20px;"><b>Forgot Password </b></label></div><br><br>
            
      <div class="form-group" class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your email" type="email" formControlName="email"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <mat-error *ngIf="f.email.errors.required">*emailId is <strong>required</strong></mat-error>
              </mat-error>
        </mat-form-field>
      </div>
  
      <div class="form-group" class="example-container">
        <a class="link" routerLink="/login">Back To Login?</a><br>
          <div align="center"><button mat-button id="nextbutton">Submit</button></div>
      </div>
    </form>
  </mat-card>
</div>  
