<div class=main-div>
  <mat-card style="width: 30em; height: 80vh; box-shadow: 1px 1px 7px 0px;">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)">
      <div fxLayout="row" fxLayoutAlign="center" style="font-size:24px; margin-bottom: 80px;">
        <span style="color: rgb(255, 174, 0);">F</span>
        <span style="color: rgba(0, 0, 0, 0.342);">undoo</span>
        <span style="color: rgb(255, 174, 0);">N</span>
        <span style="color: rgba(0, 0, 0, 0.342);">otes</span>
      </div>      

      <div align="center"><label style="font-size:25px;"><b>Reset your password </b></label></div><br><br>
  
      <div class="form-group" class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
              formControlName="newPassword" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <mat-error *ngIf="f.newPassword.errors.required">*password is <strong>required</strong></mat-error>
              </mat-error>
        </mat-form-field>
      </div>
            
      <div class="form-group" class="example-container">
        <mat-form-field>
          <input matInput placeholder="Re-enter your password" [type]="hide ? 'password' : 'text'"
              formControlName="confirmPassword" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <mat-error *ngIf="f.confirmPassword.errors.required">*password is <strong>required</strong></mat-error>
              </mat-error>
        </mat-form-field>
      </div>
      
      <div>
        <div align="center"><button mat-button id="nextbutton">Submit</button></div>
      </div>
    </form>
  </mat-card>
</div>
      
